<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>...</title>
</head>
<body>

    <!-- Cartas en HTML -->
    {% for card in codex.card %}

        <!-- Tipo base -->
        {% if card.type == 'base' %}
            {% include 'cardtype/base.html.twig' %}
        {% endif %}

        <!-- Tipo unidad -->
        {% if card.type == 'unit' %}
            {% include 'cardtype/unit.html.twig' %}
        {% endif %}

    {% endfor %}

    <!-- Imágenes -->
    <div id="cards"></div>

    <script src="./dist/app.js"></script>
</body>
</html>
