@font-face {
    font-family: 'ethnocentric';
    src: url("../assets/fonts/ethnocentric_rg.otf") format("truetype");
}

@font-face {
    font-family: 'orbitron';
    src: url("../assets/fonts/orbitron_medium.otf") format("truetype");
}

@font-face {
    font-family: 'orbitron_b';
    src: url("../assets/fonts/orbitron_bold.otf") format("truetype");
}

#cards img {
    width: 300px;
    float: left;
}

.card .template {
    width: 100%;
}

.card span {
    margin-right: 5px;
}

.card span.skill,
.card span.trait {
    font-size: 20px;
    border: 4px solid black;
    border-radius: 8px;
}

.card span.trait {
    border: 4px solid rgb(210,210,210);
}

.card span.atk,
.card span.def {
    background-size: auto;
}

td.cost {
    font-family: 'orbitron_b', serif;
    font-size: 18px;
    font-weight: bold;
}

span.skill,
span.trait {
    font-size: 12px;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    background-color: white;
    padding: 0 5px 0 4px;
    white-space: nowrap;
    text-shadow: none;
    font-family: 'orbitron', serif;
    box-shadow: none;
}

span.trait {
    color: white;
    border: 2px solid rgb(210,210,210);
    background-color: black;
    white-space: nowrap;
    text-shadow: none;
}

span.atk,
span.def,
span.technologic,
span.biologic,
span.espectral,
span.dimensional {
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 8px 0 8px;
    display: inline-block;
}

span.atk {
    background-image: url(../assets/elements/atk.png);
    background-size: 18px;
}

span.def {
    background-image: url(../assets/elements/def.png);
    background-size: 18px;
}

span.trait-technologic {
    border-color: rgb(210, 22, 9);
}

span.trait-biologic {
    border-color: rgb(0, 175, 128);
}

span.trait-spectral {
    border-color: rgb(0, 143, 200);
}

span.trait-dimensional {
    border-color: rgb(186, 0, 151);
}