@font-face {
    font-family: 'ethnocentric';
    src: url("../assets/fonts/ethnocentric_rg.otf") format("truetype");
}

@font-face {
    font-family: 'orbitron';
    src: url("../assets/fonts/orbitron_medium.otf") format("truetype");
}

@font-face {
    font-family: 'orbitron_b';
    src: url("../assets/fonts/orbitron_bold.otf") format("truetype");
}

.card .template {
    width: 100%;
}

.card span.skill,
.card span.trait {
    text-transform: uppercase;
    font-size: 20px;
    border: 4px solid black;
    border-radius: 8px;
    color: black;
    background-color: white;
    padding: 0 5px 0 4px;
    white-space: nowrap;
    text-shadow: none;
    font-family: 'orbitron', serif;
    box-shadow: none;
}

.card span.trait {
    color: white;
    border: 4px solid rgb(210,210,210);
    background-color: black;
    white-space: nowrap;
    text-shadow: none;
}

.card div.skill-text div div span.atk,
.card div.skill-text div div span.def,
.card div.skill-text div div span.technologic,
.card div.skill-text div div span.biologic,
.card div.skill-text div div span.espectral,
.card div.skill-text div div span.dimensional {
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 8px 0 8px;
    display: inline-block;
}

.card div.skill-text div div span.atk {
    background-image: url(../assets/elements/atk.png);
}

.card div.skill-text div div span.def {
    background-image: url(../assets/elements/def.png);
}

.card div.skills-traits span {
    margin-right: 5px;
}

.card span.trait-technologic {
    border-color: rgb(210, 22, 9);
}

.card span.trait-biologic {
    border-color: rgb(0, 175, 128);
}

.card span.trait-spectral {
    border-color: rgb(0, 143, 200);
}

.card span.trait-dimensional {
    border-color: rgb(186, 0, 151);
}

#cards img {
    width: 300px;
    float: left;
}